In [62]:
#installed TKinter to stop the GUI errors for the figures
#https://docs.python.org/3/library/tkinter.html

from sqlalchemy import create_engine
import tkinter
import matplotlib
matplotlib.use('TkAgg')

import pymysql
import pandas as pd
import numpy as np
import pandas_profiling
import matplotlib.pyplot as plt

In [2]:
credit = pd.read_csv('credit.csv')

In [3]:
credit = credit.drop_duplicates()

In [4]:
#X1: Amount of the given credit
#X2: Gender (1 = male; 2 = female)
#X3: Education (1 = graduate school; 2 = university; 3 = high school; 0, 4, 5, 6 = others)
#X4: Marital status (1 = married; 2 = single; 3 = divorce; 0=others).
#X5: Age (year)
#X6 - X11: History of past payment.
#X12-X17: Amount of bill statement (NT dollar).
#X18-X23: Amount of previous payment (NT dollar)
#Y: client's behavior

#for payment history
#-2: No consumption; -1: Paid in full; 0: The use of revolving credit; 1 = payment delay
#for one month; 2 = payment delay for two months; . . .; 8 = payment delay for eight
#months; 9 = payment delay for nine months and above.

credit.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30002 entries, 0 to 30203
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   MyUnknownColumn  30001 non-null  object
 1   X1               30002 non-null  object
 2   X2               30002 non-null  object
 3   X3               30002 non-null  object
 4   X4               30002 non-null  object
 5   X5               30002 non-null  object
 6   X6               30002 non-null  object
 7   X7               30002 non-null  object
 8   X8               30002 non-null  object
 9   X9               30002 non-null  object
 10  X10              30002 non-null  object
 11  X11              30002 non-null  object
 12  X12              30002 non-null  object
 13  X13              30002 non-null  object
 14  X14              30002 non-null  object
 15  X15              30002 non-null  object
 16  X16              30002 non-null  object
 17  X17              30002 non-null  object
 18  X18              30002 non-null  object
 19  X19              30002 non-null  object
 20  X20              30002 non-null  object
 21  X21              30002 non-null  object
 22  X22              30002 non-null  object
 23  X23              30002 non-null  object
 24  Y                30002 non-null  object
dtypes: object(25)
memory usage: 6.0+ MB

In [5]:
credit.head()

,MyUnknownColumn,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
1,1,20000,female,university,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,default
2,2,120000,female,university,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,default
3,3,90000,female,university,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,not default
4,4,50000,female,university,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,not default

In [6]:
credit = credit.replace(['','null'],[np.nan, np.nan])

In [7]:
#checking for null data
print(credit.isnull().sum())

MyUnknownColumn    1
X1                 0
X2                 0
X3                 0
X4                 0
X5                 0
X6                 0
X7                 0
X8                 0
X9                 0
X10                0
X11                0
X12                0
X13                0
X14                0
X15                0
X16                0
X17                0
X18                0
X19                0
X20                0
X21                0
X22                0
X23                0
Y                  0
dtype: int64

In [8]:
#finding the null data
null_series = pd.isnull(credit["MyUnknownColumn"])

In [9]:
credit[null_series]

,MyUnknownColumn,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
202,NaN,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y

In [10]:
#removing null found
credit.drop(credit.index[202], inplace = True)

In [11]:
print(credit.isnull().sum())

MyUnknownColumn    0
X1                 0
X2                 0
X3                 0
X4                 0
X5                 0
X6                 0
X7                 0
X8                 0
X9                 0
X10                0
X11                0
X12                0
X13                0
X14                0
X15                0
X16                0
X17                0
X18                0
X19                0
X20                0
X21                0
X22                0
X23                0
Y                  0
dtype: int64

In [12]:
#from the presentation to change dtypes to int without a lot of coding
credit.to_csv('cleancredit.csv', index = False)

In [13]:
#header =1 to drop the first row 
cleancredit= pd.read_csv('cleancredit.csv', header = 1)

In [14]:
cleancredit.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,female,university,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,default
1,2,120000,female,university,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,default
2,3,90000,female,university,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,not default
3,4,50000,female,university,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,not default
4,5,50000,male,university,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,not default

In [15]:
cleancredit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          30000 non-null  int64
 1   LIMIT_BAL                   30000 non-null  int64
 2   SEX                         30000 non-null  object
 3   EDUCATION                   30000 non-null  object
 4   MARRIAGE                    30000 non-null  int64
 5   AGE                         30000 non-null  int64
 6   PAY_0                       30000 non-null  int64
 7   PAY_2                       30000 non-null  int64
 8   PAY_3                       30000 non-null  int64
 9   PAY_4                       30000 non-null  int64
 10  PAY_5                       30000 non-null  int64
 11  PAY_6                       30000 non-null  int64
 12  BILL_AMT1                   30000 non-null  int64
 13  BILL_AMT2                   30000 non-null  int64
 14  BILL_AMT3                   30000 non-null  int64
 15  BILL_AMT4                   30000 non-null  int64
 16  BILL_AMT5                   30000 non-null  int64
 17  BILL_AMT6                   30000 non-null  int64
 18  PAY_AMT1                    30000 non-null  int64
 19  PAY_AMT2                    30000 non-null  int64
 20  PAY_AMT3                    30000 non-null  int64
 21  PAY_AMT4                    30000 non-null  int64
 22  PAY_AMT5                    30000 non-null  int64
 23  PAY_AMT6                    30000 non-null  int64
 24  default payment next month  30000 non-null  object
dtypes: int64(22), object(3)
memory usage: 5.7+ MB

In [16]:
#changing object type items to int 
cleancredit = pd.get_dummies(cleancredit)

In [17]:
cleancredit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 30 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   ID                                      30000 non-null  int64
 1   LIMIT_BAL                               30000 non-null  int64
 2   MARRIAGE                                30000 non-null  int64
 3   AGE                                     30000 non-null  int64
 4   PAY_0                                   30000 non-null  int64
 5   PAY_2                                   30000 non-null  int64
 6   PAY_3                                   30000 non-null  int64
 7   PAY_4                                   30000 non-null  int64
 8   PAY_5                                   30000 non-null  int64
 9   PAY_6                                   30000 non-null  int64
 10  BILL_AMT1                               30000 non-null  int64
 11  BILL_AMT2                               30000 non-null  int64
 12  BILL_AMT3                               30000 non-null  int64
 13  BILL_AMT4                               30000 non-null  int64
 14  BILL_AMT5                               30000 non-null  int64
 15  BILL_AMT6                               30000 non-null  int64
 16  PAY_AMT1                                30000 non-null  int64
 17  PAY_AMT2                                30000 non-null  int64
 18  PAY_AMT3                                30000 non-null  int64
 19  PAY_AMT4                                30000 non-null  int64
 20  PAY_AMT5                                30000 non-null  int64
 21  PAY_AMT6                                30000 non-null  int64
 22  SEX_female                              30000 non-null  uint8
 23  SEX_male                                30000 non-null  uint8
 24  EDUCATION_graduate school               30000 non-null  uint8
 25  EDUCATION_high school                   30000 non-null  uint8
 26  EDUCATION_other                         30000 non-null  uint8
 27  EDUCATION_university                    30000 non-null  uint8
 28  default payment next month_default      30000 non-null  uint8
 29  default payment next month_not default  30000 non-null  uint8
dtypes: int64(22), uint8(8)
memory usage: 5.3 MB

In [18]:
header = cleancredit.dtypes.index
print(header)

Index(['ID', 'LIMIT_BAL', 'MARRIAGE', 'AGE', 'PAY_0', 'PAY_2', 'PAY_3',
       'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3',
       'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2',
       'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6', 'SEX_female',
       'SEX_male', 'EDUCATION_graduate school', 'EDUCATION_high school',
       'EDUCATION_other', 'EDUCATION_university',
       'default payment next month_default',
       'default payment next month_not default'],
      dtype='object')

In [63]:
plt.hist(cleancredit['LIMIT_BAL'])
plt.show()

In [64]:
plt.hist(cleancredit['LIMIT_BAL'], bins=4)
plt.show()

In [65]:
plt.plot(cleancredit['LIMIT_BAL'])
plt.show()

In [66]:
x = cleancredit['PAY_0']
y = cleancredit['PAY_2']

In [67]:
plt.scatter(x,y)
plt.show()

In [55]:
header = cleancredit.dtypes.index
print(header)

Index(['ID', 'LIMIT_BAL', 'MARRIAGE', 'AGE', 'PAY_0', 'PAY_2', 'PAY_3',
       'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3',
       'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2',
       'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6', 'SEX_female',
       'SEX_male', 'EDUCATION_graduate school', 'EDUCATION_high school',
       'EDUCATION_other', 'EDUCATION_university',
       'default payment next month_default',
       'default payment next month_not default'],
      dtype='object')

In [68]:
A = cleancredit['BILL_AMT1']
plt.boxplot(A,0,'gD')
plt.show()

In [57]:
#ID,education,sex,marriage,age not really correlated to anything?
#nothing really correlates to default payment
corrMat = cleancredit.corr()
print(corrMat)

                                              ID  LIMIT_BAL  MARRIAGE  \
ID                                      1.000000   0.026179 -0.029079
LIMIT_BAL                               0.026179   1.000000 -0.108139
MARRIAGE                               -0.029079  -0.108139  1.000000
AGE                                     0.018678   0.144713 -0.414170
PAY_0                                  -0.030575  -0.271214  0.019917
PAY_2                                  -0.011215  -0.296382  0.024199
PAY_3                                  -0.018494  -0.286123  0.032688
PAY_4                                  -0.002735  -0.267460  0.033122
PAY_5                                  -0.022199  -0.249411  0.035629
PAY_6                                  -0.020270  -0.235195  0.034345
BILL_AMT1                               0.019389   0.285430 -0.023472
BILL_AMT2                               0.017982   0.278314 -0.021602
BILL_AMT3                               0.024354   0.283236 -0.024909
BILL_AMT4                               0.040351   0.293988 -0.023344
BILL_AMT5                               0.016705   0.295562 -0.025393
BILL_AMT6                               0.016730   0.290389 -0.021207
PAY_AMT1                                0.009742   0.195236 -0.005979
PAY_AMT2                                0.008406   0.178408 -0.008093
PAY_AMT3                                0.039151   0.210167 -0.003541
PAY_AMT4                                0.007793   0.203242 -0.012659
PAY_AMT5                                0.000652   0.217202 -0.001205
PAY_AMT6                                0.003000   0.219595 -0.006641
SEX_female                              0.018497   0.024755 -0.031389
SEX_male                               -0.018497  -0.024755  0.031389
EDUCATION_graduate school              -0.025858   0.258777  0.142129
EDUCATION_high school                   0.017475  -0.139686 -0.110845
EDUCATION_other                         0.037165   0.013420 -0.008386
EDUCATION_university                    0.002569  -0.147530 -0.051797
default payment next month_default     -0.013952  -0.153520 -0.024339
default payment next month_not default  0.013952   0.153520  0.024339

                                             AGE     PAY_0     PAY_2  \
ID                                      0.018678 -0.030575 -0.011215
LIMIT_BAL                               0.144713 -0.271214 -0.296382
MARRIAGE                               -0.414170  0.019917  0.024199
AGE                                     1.000000 -0.039447 -0.050148
PAY_0                                  -0.039447  1.000000  0.672164
PAY_2                                  -0.050148  0.672164  1.000000
PAY_3                                  -0.053048  0.574245  0.766552
PAY_4                                  -0.049722  0.538841  0.662067
PAY_5                                  -0.053826  0.509426  0.622780
PAY_6                                  -0.048773  0.474553  0.575501
BILL_AMT1                               0.056239  0.187068  0.234887
BILL_AMT2                               0.054283  0.189859  0.235257
BILL_AMT3                               0.053710  0.179785  0.224146
BILL_AMT4                               0.051353  0.179125  0.222237
BILL_AMT5                               0.049345  0.180635  0.221348
BILL_AMT6                               0.047613  0.176980  0.219403
PAY_AMT1                                0.026147 -0.079269 -0.080701
PAY_AMT2                                0.021785 -0.070101 -0.058990
PAY_AMT3                                0.029247 -0.070561 -0.055901
PAY_AMT4                                0.021379 -0.064005 -0.046858
PAY_AMT5                                0.022850 -0.058190 -0.037093
PAY_AMT6                                0.019478 -0.058673 -0.036500
SEX_female                             -0.090874 -0.057643 -0.070771
SEX_male                                0.090874  0.057643  0.070771
EDUCATION_graduate school              -0.100423 -0.142720 -0.169215
EDUCATION_high school                   0.231252  0.058902  0.064590
EDUCATION_other                         0.008982 -0.024937 -0.033118
EDUCATION_university                   -0.077626  0.099177  0.122364
default payment next month_default      0.013890  0.324794  0.263551
default payment next month_not default -0.013890 -0.324794 -0.263551

                                           PAY_3     PAY_4     PAY_5  \
ID                                     -0.018494 -0.002735 -0.022199
LIMIT_BAL                              -0.286123 -0.267460 -0.249411
MARRIAGE                                0.032688  0.033122  0.035629
AGE                                    -0.053048 -0.049722 -0.053826
PAY_0                                   0.574245  0.538841  0.509426
PAY_2                                   0.766552  0.662067  0.622780
PAY_3                                   1.000000  0.777359  0.686775
PAY_4                                   0.777359  1.000000  0.819835
PAY_5                                   0.686775  0.819835  1.000000
PAY_6                                   0.632684  0.716449  0.816900
BILL_AMT1                               0.208473  0.202812  0.206684
BILL_AMT2                               0.237295  0.225816  0.226913
BILL_AMT3                               0.227494  0.244983  0.243335
BILL_AMT4                               0.227202  0.245917  0.271915
BILL_AMT5                               0.225145  0.242902  0.269783
BILL_AMT6                               0.222327  0.239154  0.262509
PAY_AMT1                                0.001295 -0.009362 -0.006089
PAY_AMT2                               -0.066793 -0.001944 -0.003191
PAY_AMT3                               -0.053311 -0.069235  0.009062
PAY_AMT4                               -0.046067 -0.043461 -0.058299
PAY_AMT5                               -0.035863 -0.033590 -0.033337
PAY_AMT6                               -0.035861 -0.026565 -0.023027
SEX_female                             -0.066096 -0.060173 -0.055064
SEX_male                                0.066096  0.060173  0.055064
EDUCATION_graduate school              -0.160209 -0.152402 -0.138709
EDUCATION_high school                   0.062461  0.058382  0.049577
EDUCATION_other                        -0.034435 -0.030998 -0.028822
EDUCATION_university                    0.115644  0.110340  0.103218
default payment next month_default      0.235253  0.216614  0.204149
default payment next month_not default -0.235253 -0.216614 -0.204149

                                           PAY_6  ...  PAY_AMT5  PAY_AMT6  \
ID                                     -0.020270  ...  0.000652  0.003000
LIMIT_BAL                              -0.235195  ...  0.217202  0.219595
MARRIAGE                                0.034345  ... -0.001205 -0.006641
AGE                                    -0.048773  ...  0.022850  0.019478
PAY_0                                   0.474553  ... -0.058190 -0.058673
PAY_2                                   0.575501  ... -0.037093 -0.036500
PAY_3                                   0.632684  ... -0.035863 -0.035861
PAY_4                                   0.716449  ... -0.033590 -0.026565
PAY_5                                   0.816900  ... -0.033337 -0.023027
PAY_6                                   1.000000  ... -0.046434 -0.025299
BILL_AMT1                               0.207373  ...  0.167026  0.179341
BILL_AMT2                               0.226924  ...  0.157957  0.174256
BILL_AMT3                               0.241181  ...  0.179712  0.182326
BILL_AMT4                               0.266356  ...  0.160433  0.177637
BILL_AMT5                               0.290894  ...  0.141574  0.164184
BILL_AMT6                               0.285091  ...  0.307729  0.115494
PAY_AMT1                               -0.001496  ...  0.148459  0.185735
PAY_AMT2                               -0.005223  ...  0.180908  0.157634
PAY_AMT3                                0.005834  ...  0.159214  0.162740
PAY_AMT4                                0.019018  ...  0.151830  0.157834
PAY_AMT5                               -0.046434  ...  1.000000  0.154896
PAY_AMT6                               -0.025299  ...  0.154896  1.000000
SEX_female                             -0.044008  ... -0.001667 -0.002766
SEX_male                                0.044008  ...  0.001667  0.002766
EDUCATION_graduate school              -0.125123  ...  0.047226  0.050135
EDUCATION_high school                   0.041370  ... -0.034768 -0.034613
EDUCATION_other                        -0.035733  ...  0.007395  0.016008
EDUCATION_university                    0.098013  ... -0.021270 -0.026310
default payment next month_default      0.186866  ... -0.055124 -0.053183
default payment next month_not default -0.186866  ...  0.055124  0.053183

                                        SEX_female  SEX_male  \
ID                                        0.018497 -0.018497
LIMIT_BAL                                 0.024755 -0.024755
MARRIAGE                                 -0.031389  0.031389
AGE                                      -0.090874  0.090874
PAY_0                                    -0.057643  0.057643
PAY_2                                    -0.070771  0.070771
PAY_3                                    -0.066096  0.066096
PAY_4                                    -0.060173  0.060173
PAY_5                                    -0.055064  0.055064
PAY_6                                    -0.044008  0.044008
BILL_AMT1                                -0.033642  0.033642
BILL_AMT2                                -0.031183  0.031183
BILL_AMT3                                -0.024563  0.024563
BILL_AMT4                                -0.021880  0.021880
BILL_AMT5                                -0.017005  0.017005
BILL_AMT6                                -0.016733  0.016733
PAY_AMT1                                 -0.000242  0.000242
PAY_AMT2                                 -0.001391  0.001391
PAY_AMT3                                 -0.008597  0.008597
PAY_AMT4                                 -0.002229  0.002229
PAY_AMT5                                 -0.001667  0.001667
PAY_AMT6                                 -0.002766  0.002766
SEX_female                                1.000000 -1.000000
SEX_male                                 -1.000000  1.000000
EDUCATION_graduate school                -0.022750  0.022750
EDUCATION_high school                    -0.007650  0.007650
EDUCATION_other                           0.008498 -0.008498
EDUCATION_university                      0.025353 -0.025353
default payment next month_default       -0.039961  0.039961
default payment next month_not default    0.039961 -0.039961

                                        EDUCATION_graduate school  \
ID                                                      -0.025858
LIMIT_BAL                                                0.258777
MARRIAGE                                                 0.142129
AGE                                                     -0.100423
PAY_0                                                   -0.142720
PAY_2                                                   -0.169215
PAY_3                                                   -0.160209
PAY_4                                                   -0.152402
PAY_5                                                   -0.138709
PAY_6                                                   -0.125123
BILL_AMT1                                               -0.024045
BILL_AMT2                                               -0.020334
BILL_AMT3                                               -0.013112
BILL_AMT4                                               -0.003809
BILL_AMT5                                                0.000941
BILL_AMT6                                               -0.002525
PAY_AMT1                                                 0.049811
PAY_AMT2                                                 0.044400
PAY_AMT3                                                 0.055982
PAY_AMT4                                                 0.046119
PAY_AMT5                                                 0.047226
PAY_AMT6                                                 0.050135
SEX_female                                              -0.022750
SEX_male                                                 0.022750
EDUCATION_graduate school                                1.000000
EDUCATION_high school                                   -0.326917
EDUCATION_other                                         -0.092951
EDUCATION_university                                    -0.692075
default payment next month_default                      -0.051328
default payment next month_not default                   0.051328

                                        EDUCATION_high school  \
ID                                                   0.017475
LIMIT_BAL                                           -0.139686
MARRIAGE                                            -0.110845
AGE                                                  0.231252
PAY_0                                                0.058902
PAY_2                                                0.064590
PAY_3                                                0.062461
PAY_4                                                0.058382
PAY_5                                                0.049577
PAY_6                                                0.041370
BILL_AMT1                                           -0.022006
BILL_AMT2                                           -0.022761
BILL_AMT3                                           -0.022807
BILL_AMT4                                           -0.031276
BILL_AMT5                                           -0.031708
BILL_AMT6                                           -0.030981
PAY_AMT1                                            -0.021310
PAY_AMT2                                            -0.016674
PAY_AMT3                                            -0.031726
PAY_AMT4                                            -0.023554
PAY_AMT5                                            -0.034768
PAY_AMT6                                            -0.034613
SEX_female                                          -0.007650
SEX_male                                             0.007650
EDUCATION_graduate school                           -0.326917
EDUCATION_high school                                1.000000
EDUCATION_other                                     -0.055736
EDUCATION_university                                -0.414989
default payment next month_default                   0.032403
default payment next month_not default              -0.032403

                                        EDUCATION_other  EDUCATION_university  \
ID                                             0.037165              0.002569
LIMIT_BAL                                      0.013420             -0.147530
MARRIAGE                                      -0.008386             -0.051797
AGE                                            0.008982             -0.077626
PAY_0                                         -0.024937              0.099177
PAY_2                                         -0.033118              0.122364
PAY_3                                         -0.034435              0.115644
PAY_4                                         -0.030998              0.110340
PAY_5                                         -0.028822              0.103218
PAY_6                                         -0.035733              0.098013
BILL_AMT1                                      0.036364              0.030323
BILL_AMT2                                      0.030778              0.028716
BILL_AMT3                                      0.028952              0.022288
BILL_AMT4                                      0.020954              0.021648
BILL_AMT5                                      0.011811              0.019690
BILL_AMT6                                      0.003417              0.024555
PAY_AMT1                                       0.004445             -0.032998
PAY_AMT2                                       0.012004             -0.033132
PAY_AMT3                                       0.022272             -0.035608
PAY_AMT4                                       0.001095             -0.026965
PAY_AMT5                                       0.007395             -0.021270
PAY_AMT6                                       0.016008             -0.026310
SEX_female                                     0.008498              0.025353
SEX_male                                      -0.008498             -0.025353
EDUCATION_graduate school                     -0.092951             -0.692075
EDUCATION_high school                         -0.055736             -0.414989
EDUCATION_other                                1.000000             -0.117992
EDUCATION_university                          -0.117992              1.000000
default payment next month_default            -0.045703              0.036467
default payment next month_not default         0.045703             -0.036467

                                        default payment next month_default  \
ID                                                               -0.013952
LIMIT_BAL                                                        -0.153520
MARRIAGE                                                         -0.024339
AGE                                                               0.013890
PAY_0                                                             0.324794
PAY_2                                                             0.263551
PAY_3                                                             0.235253
PAY_4                                                             0.216614
PAY_5                                                             0.204149
PAY_6                                                             0.186866
BILL_AMT1                                                        -0.019644
BILL_AMT2                                                        -0.014193
BILL_AMT3                                                        -0.014076
BILL_AMT4                                                        -0.010156
BILL_AMT5                                                        -0.006760
BILL_AMT6                                                        -0.005372
PAY_AMT1                                                         -0.072929
PAY_AMT2                                                         -0.058579
PAY_AMT3                                                         -0.056250
PAY_AMT4                                                         -0.056827
PAY_AMT5                                                         -0.055124
PAY_AMT6                                                         -0.053183
SEX_female                                                       -0.039961
SEX_male                                                          0.039961
EDUCATION_graduate school                                        -0.051328
EDUCATION_high school                                             0.032403
EDUCATION_other                                                  -0.045703
EDUCATION_university                                              0.036467
default payment next month_default                                1.000000
default payment next month_not default                           -1.000000

                                        default payment next month_not default
ID                                                                    0.013952
LIMIT_BAL                                                             0.153520
MARRIAGE                                                              0.024339
AGE                                                                  -0.013890
PAY_0                                                                -0.324794
PAY_2                                                                -0.263551

In [58]:
covMat = cleancredit.cov()
print(covMat)

                                                  ID     LIMIT_BAL  \
ID                                      7.500250e+07  2.941664e+07
LIMIT_BAL                               2.941664e+07  1.683446e+10
MARRIAGE                               -1.314525e+02 -7.323670e+03
AGE                                     1.491057e+03  1.730767e+05
PAY_0                                  -2.975726e+02 -3.954593e+04
PAY_2                                  -1.162770e+02 -4.603765e+04
PAY_3                                  -1.916922e+02 -4.443225e+04
PAY_4                                  -2.769132e+01 -4.057181e+04
PAY_5                                  -2.178600e+02 -3.667056e+04
PAY_6                                  -2.018774e+02 -3.509308e+04
BILL_AMT1                               1.236447e+07  2.727020e+09
BILL_AMT2                               1.108392e+07  2.570130e+09
BILL_AMT3                               1.462688e+07  2.548533e+09
BILL_AMT4                               2.248126e+07  2.453926e+09
BILL_AMT5                               8.795803e+06  2.331481e+09
BILL_AMT6                               8.628506e+06  2.243837e+09
PAY_AMT1                                1.397501e+06  4.195711e+08
PAY_AMT2                                1.677383e+06  5.333504e+08
PAY_AMT3                                5.969803e+06  4.801180e+08
PAY_AMT4                                1.057334e+06  4.131202e+08
PAY_AMT5                                8.629502e+04  4.305657e+08
PAY_AMT6                                4.618460e+05  5.065153e+08
SEX_female                              7.835638e+01  1.571051e+03
SEX_male                               -7.835638e+01 -1.571051e+03
EDUCATION_graduate school              -1.070136e+02  1.604448e+04
EDUCATION_high school                   5.602518e+01 -6.709315e+03
EDUCATION_other                         3.988670e+01  2.157851e+02
EDUCATION_university                    1.110174e+01 -9.550953e+03
default payment next month_default     -5.015171e+01 -8.267552e+03
default payment next month_not default  5.015171e+01  8.267552e+03

                                           MARRIAGE            AGE  \
ID                                      -131.452515    1491.057019
LIMIT_BAL                              -7323.669658  173076.722569
MARRIAGE                                   0.272452      -1.992764
AGE                                       -1.992764      84.969755
PAY_0                                      0.011683      -0.408639
PAY_2                                      0.015122      -0.553408
PAY_3                                      0.020421      -0.585263
PAY_4                                      0.020213      -0.535851
PAY_5                                      0.021074      -0.562245
PAY_6                                      0.020616      -0.517022
BILL_AMT1                               -902.154685   38172.933546
BILL_AMT2                               -802.517866   35613.657962
BILL_AMT3                               -901.679085   34334.251320
BILL_AMT4                               -783.881599   30453.108180
BILL_AMT5                               -805.840875   27654.067800
BILL_AMT6                               -659.223347   26137.648547
PAY_AMT1                                 -51.691615    3992.041735
PAY_AMT2                                 -97.327974    4626.861549
PAY_AMT3                                 -32.546082    4746.824393
PAY_AMT4                                -103.518204    3087.324192
PAY_AMT5                                  -9.607709    3218.052172
PAY_AMT6                                 -61.623271    3191.903901
SEX_female                                -0.008014      -0.409726
SEX_male                                   0.008014       0.409726
EDUCATION_graduate school                  0.035451      -0.442349
EDUCATION_high school                     -0.021418       0.789120
EDUCATION_other                           -0.000542       0.010260
EDUCATION_university                      -0.013490      -0.357031
default payment next month_default        -0.005273       0.053143
default payment next month_not default     0.005273      -0.053143

                                               PAY_0         PAY_2  \
ID                                       -297.572636   -116.276959
LIMIT_BAL                              -39545.930009 -46037.648360
MARRIAGE                                    0.011683      0.015122
AGE                                        -0.408639     -0.553408
PAY_0                                       1.262930      0.904330
PAY_2                                       0.904330      1.433254
PAY_3                                       0.772384      1.098371
PAY_4                                       0.707972      0.926680
PAY_5                                       0.648743      0.844886
PAY_6                                       0.613292      0.792320
BILL_AMT1                               15480.304170  20706.614217
BILL_AMT2                               15185.916919  20045.829482
BILL_AMT3                               14011.556537  18609.510991
BILL_AMT4                               12950.248389  17116.298983
BILL_AMT5                               12341.668685  16110.952468
BILL_AMT6                               11844.759724  15642.875812
PAY_AMT1                                -1475.495089  -1600.240756
PAY_AMT2                                -1815.138407  -1627.192336
PAY_AMT3                                -1396.168258  -1178.331282
PAY_AMT4                                -1126.847945   -878.843879
PAY_AMT5                                 -999.107730   -678.468530
PAY_AMT6                                -1172.193614   -776.835035
SEX_female                                 -0.031685     -0.041442
SEX_male                                    0.031685      0.041442
EDUCATION_graduate school                  -0.076644     -0.096806
EDUCATION_high school                       0.024505      0.028625
EDUCATION_other                            -0.003473     -0.004913
EDUCATION_university                        0.055612      0.073094
default payment next month_default          0.151499      0.130960
default payment next month_not default     -0.151499     -0.130960

                                               PAY_3         PAY_4  \
ID                                       -191.692156    -27.691323
LIMIT_BAL                              -44432.253315 -40571.811859
MARRIAGE                                    0.020421      0.020213
AGE                                        -0.585263     -0.535851
PAY_0                                       0.772384      0.707972
PAY_2                                       1.098371      0.926680
PAY_3                                       1.432492      1.087761
PAY_4                                       1.087761      1.366885
PAY_5                                       0.931455      1.086161
PAY_6                                       0.870815      0.963263
BILL_AMT1                               18373.210469  17460.198259
BILL_AMT2                               20214.071495  18790.627741
BILL_AMT3                               18882.491544  19862.999426
BILL_AMT4                               17494.100555  18496.423186
BILL_AMT5                               16382.947539  17265.551898
BILL_AMT6                               15847.089648  16651.586314
PAY_AMT1                                   25.668468   -181.295613
PAY_AMT2                                -1841.952825    -52.358166
PAY_AMT3                                -1123.428782  -1425.205189
PAY_AMT4                                 -863.762183   -796.035739
PAY_AMT5                                 -655.796002   -599.991629
PAY_AMT6                                 -763.026041   -552.137338
SEX_female                                 -0.038694     -0.034411
SEX_male                                    0.038694      0.034411
EDUCATION_graduate school                  -0.091629     -0.085144
EDUCATION_high school                       0.027674      0.025268
EDUCATION_other                            -0.005107     -0.004491
EDUCATION_university                        0.069062      0.064367
default payment next month_default          0.116867      0.105115
default payment next month_not default     -0.116867     -0.105115

                                               PAY_5         PAY_6  ...  \
ID                                       -217.860029   -201.877379  ...
LIMIT_BAL                              -36670.562325 -35093.083441  ...
MARRIAGE                                    0.021074      0.020616  ...
AGE                                        -0.562245     -0.517022  ...
PAY_0                                       0.648743      0.613292  ...
PAY_2                                       0.844886      0.792320  ...
PAY_3                                       0.931455      0.870815  ...
PAY_4                                       1.086161      0.963263  ...
PAY_5                                       1.284114      1.064545  ...
PAY_6                                       1.064545      1.322472  ...
BILL_AMT1                               17246.377531  17560.424872  ...
BILL_AMT2                               18301.285286  18573.527165  ...
BILL_AMT3                               19122.663330  19234.422476  ...
BILL_AMT4                               19822.925512  19705.551629  ...
BILL_AMT5                               18586.590324  20338.120325  ...
BILL_AMT6                               17715.690075  19524.880348  ...
PAY_AMT1                                 -114.281714    -28.500666  ...
PAY_AMT2                                  -83.324487   -138.399452  ...
PAY_AMT3                                  180.812142    118.121022  ...
PAY_AMT4                                -1034.961970    342.623730  ...
PAY_AMT5                                 -577.161017   -815.832688  ...
PAY_AMT6                                 -463.892613   -517.216277  ...
SEX_female                                 -0.030521     -0.024754  ...
SEX_male                                    0.030521      0.024754  ...
EDUCATION_graduate school                  -0.075112     -0.068759  ...
EDUCATION_high school                       0.020798      0.017612  ...
EDUCATION_other                            -0.004047     -0.005092  ...
EDUCATION_university                        0.058361      0.056240  ...
default payment next month_default          0.096020      0.089194  ...
default payment next month_not default     -0.096020     -0.089194  ...

                                            PAY_AMT5      PAY_AMT6  \
ID                                      8.629502e+04  4.618460e+05
LIMIT_BAL                               4.305657e+08  5.065153e+08
MARRIAGE                               -9.607709e+00 -6.162327e+01
AGE                                     3.218052e+03  3.191904e+03
PAY_0                                  -9.991077e+02 -1.172194e+03
PAY_2                                  -6.784685e+02 -7.768350e+02
PAY_3                                  -6.557960e+02 -7.630260e+02
PAY_4                                  -5.999916e+02 -5.521373e+02
PAY_5                                  -5.771610e+02 -4.638926e+02
PAY_6                                  -8.158327e+02 -5.172163e+02
BILL_AMT1                               1.879091e+08  2.347681e+08
BILL_AMT2                               1.717652e+08  2.204845e+08
BILL_AMT3                               1.904126e+08  2.247817e+08
BILL_AMT4                               1.576892e+08  2.031590e+08
BILL_AMT5                               1.315051e+08  1.774537e+08
BILL_AMT6                               2.799982e+08  1.222761e+08
PAY_AMT1                                3.756893e+07  5.469033e+07
PAY_AMT2                                6.368414e+07  6.456816e+07
PAY_AMT3                                4.282921e+07  5.093879e+07
PAY_AMT4                                3.634098e+07  4.395747e+07
PAY_AMT5                                2.334266e+08  4.207110e+07
PAY_AMT6                                4.207110e+07  3.160383e+08
SEX_female                             -1.245881e+01 -2.405188e+01
SEX_male                                1.245881e+01  2.405188e+01
EDUCATION_graduate school               3.447913e+02  4.259025e+02
EDUCATION_high school                  -1.966421e+02 -2.277882e+02
EDUCATION_other                         1.400045e+01  3.526644e+01
EDUCATION_university                   -1.621496e+02 -2.333807e+02
default payment next month_default     -3.495625e+02 -3.924264e+02
default payment next month_not default  3.495625e+02  3.924264e+02

                                         SEX_female     SEX_male  \
ID                                        78.356379   -78.356379
LIMIT_BAL                               1571.050630 -1571.050630
MARRIAGE                                  -0.008014     0.008014
AGE                                       -0.409726     0.409726
PAY_0                                     -0.031685     0.031685
PAY_2                                     -0.041442     0.041442
PAY_3                                     -0.038694     0.038694
PAY_4                                     -0.034411     0.034411
PAY_5                                     -0.030521     0.030521
PAY_6                                     -0.024754     0.024754
BILL_AMT1                              -1211.694332  1211.694332
BILL_AMT2                              -1085.595467  1085.595467
BILL_AMT3                               -833.207432   833.207432
BILL_AMT4                               -688.489572   688.489572
BILL_AMT5                               -505.694333   505.694333
BILL_AMT6                               -487.430160   487.430160
PAY_AMT1                                  -1.964266     1.964266
PAY_AMT2                                 -15.675500    15.675500
PAY_AMT3                                 -74.034812    74.034812
PAY_AMT4                                 -17.080110    17.080110
PAY_AMT5                                 -12.458809    12.458809
PAY_AMT6                                 -24.051885    24.051885
SEX_female                                 0.239247    -0.239247
SEX_male                                  -0.239247     0.239247
EDUCATION_graduate school                 -0.005317     0.005317
EDUCATION_high school                     -0.001385     0.001385
EDUCATION_other                            0.000515    -0.000515
EDUCATION_university                       0.006188    -0.006188
default payment next month_default        -0.008113     0.008113
default payment next month_not default     0.008113    -0.008113

                                        EDUCATION_graduate school  \
ID                                                    -107.013617
LIMIT_BAL                                            16044.482969
MARRIAGE                                                 0.035451
AGE                                                     -0.442349
PAY_0                                                   -0.076644
PAY_2                                                   -0.096806
PAY_3                                                   -0.091629
PAY_4                                                   -0.085144
PAY_5                                                   -0.075112
PAY_6                                                   -0.068759
BILL_AMT1                                             -846.084922
BILL_AMT2                                             -691.567207
BILL_AMT3                                             -434.516602
BILL_AMT4                                             -117.103564
BILL_AMT5                                               27.342070
BILL_AMT6                                              -71.869023
PAY_AMT1                                               394.252555
PAY_AMT2                                               488.852307
PAY_AMT3                                               471.014411
PAY_AMT4                                               345.254954
PAY_AMT5                                               344.791256
PAY_AMT6                                               425.902474
SEX_female                                              -0.005317
SEX_male                                                 0.005317
EDUCATION_graduate school                                0.228350
EDUCATION_high school                                   -0.057831
EDUCATION_other                                         -0.005504
EDUCATION_university                                    -0.165014
default payment next month_default                      -0.010180
default payment next month_not default                   0.010180

                                        EDUCATION_high school  \
ID                                                  56.025184
LIMIT_BAL                                        -6709.314796
MARRIAGE                                            -0.021418
AGE                                                  0.789120
PAY_0                                                0.024505
PAY_2                                                0.028625
PAY_3                                                0.027674
PAY_4                                                0.025268
PAY_5                                                0.020798
PAY_6                                                0.017612
BILL_AMT1                                         -599.858730
BILL_AMT2                                         -599.693276
BILL_AMT3                                         -585.509355
BILL_AMT4                                         -744.846531
BILL_AMT5                                         -713.633173
BILL_AMT6                                         -683.020797
PAY_AMT1                                          -130.662666
PAY_AMT2                                          -142.222305
PAY_AMT3                                          -206.787191
PAY_AMT4                                          -136.601819
PAY_AMT5                                          -196.642088
PAY_AMT6                                          -227.788197
SEX_female                                          -0.001385
SEX_male                                             0.001385
EDUCATION_graduate school                           -0.057831
EDUCATION_high school                                0.137041
EDUCATION_other                                     -0.002557
EDUCATION_university                                -0.076653
default payment next month_default                   0.004979
default payment next month_not default              -0.004979

                                        EDUCATION_other  EDUCATION_university  \
ID                                            39.886696             11.101737
LIMIT_BAL                                    215.785093          -9550.953266
MARRIAGE                                      -0.000542             -0.013490
AGE                                            0.010260             -0.357031
PAY_0                                         -0.003473              0.055612
PAY_2                                         -0.004913              0.073094
PAY_3                                         -0.005107              0.069062
PAY_4                                         -0.004491              0.064367
PAY_5                                         -0.004047              0.058361
PAY_6                                         -0.005092              0.056240
BILL_AMT1                                    331.829532           1114.114120
BILL_AMT2                                    271.462376           1019.798107
BILL_AMT3                                    248.814746            771.211212
BILL_AMT4                                    167.053398            694.896696
BILL_AMT5                                     88.983544            597.307558
BILL_AMT6                                     25.219712            729.670109

In [69]:
plt.hist(cleancredit['default payment next month_default'])
plt.show()

In [60]:
 cleancredit.head()

,ID,LIMIT_BAL,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,...,PAY_AMT5,PAY_AMT6,SEX_female,SEX_male,EDUCATION_graduate school,EDUCATION_high school,EDUCATION_other,EDUCATION_university,default payment next month_default,default payment next month_not default
0,1,20000,1,24,2,2,-1,-1,-2,-2,...,0,0,1,0,0,0,0,1,1,0
1,2,120000,2,26,-1,2,0,0,0,2,...,0,2000,1,0,0,0,0,1,1,0
2,3,90000,2,34,0,0,0,0,0,0,...,1000,5000,1,0,0,0,0,1,0,1
3,4,50000,1,37,0,0,0,0,0,0,...,1069,1000,1,0,0,0,0,1,0,1
4,5,50000,1,57,-1,0,-1,0,0,0,...,689,679,0,1,0,0,0,1,0,1

In [61]:
plt.plot(cleancredit['default payment next month_default'])
plt.show()

C:\Users\alden\AppData\Local\Temp\ipykernel_21496\2137818266.py:2: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

In [31]:
x1 = cleancredit['PAY_2']
y1 = cleancredit['PAY_3']
plt.scatter(x1,y1)
plt.show()

C:\Users\alden\AppData\Local\Temp\ipykernel_21496\163614434.py:4: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

In [32]:
x2 = cleancredit['PAY_3']
y2 = cleancredit['PAY_4']
plt.scatter(x2,y2)
plt.show()

C:\Users\alden\AppData\Local\Temp\ipykernel_21496\2537304620.py:4: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

In [33]:
#dropping some columns to have less distractions
credit2= cleancredit.copy()

In [34]:
credit2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 30 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   ID                                      30000 non-null  int64
 1   LIMIT_BAL                               30000 non-null  int64
 2   MARRIAGE                                30000 non-null  int64
 3   AGE                                     30000 non-null  int64
 4   PAY_0                                   30000 non-null  int64
 5   PAY_2                                   30000 non-null  int64
 6   PAY_3                                   30000 non-null  int64
 7   PAY_4                                   30000 non-null  int64
 8   PAY_5                                   30000 non-null  int64
 9   PAY_6                                   30000 non-null  int64
 10  BILL_AMT1                               30000 non-null  int64
 11  BILL_AMT2                               30000 non-null  int64
 12  BILL_AMT3                               30000 non-null  int64
 13  BILL_AMT4                               30000 non-null  int64
 14  BILL_AMT5                               30000 non-null  int64
 15  BILL_AMT6                               30000 non-null  int64
 16  PAY_AMT1                                30000 non-null  int64
 17  PAY_AMT2                                30000 non-null  int64
 18  PAY_AMT3                                30000 non-null  int64
 19  PAY_AMT4                                30000 non-null  int64
 20  PAY_AMT5                                30000 non-null  int64
 21  PAY_AMT6                                30000 non-null  int64
 22  SEX_female                              30000 non-null  uint8
 23  SEX_male                                30000 non-null  uint8
 24  EDUCATION_graduate school               30000 non-null  uint8
 25  EDUCATION_high school                   30000 non-null  uint8
 26  EDUCATION_other                         30000 non-null  uint8
 27  EDUCATION_university                    30000 non-null  uint8
 28  default payment next month_default      30000 non-null  uint8
 29  default payment next month_not default  30000 non-null  uint8
dtypes: int64(22), uint8(8)
memory usage: 5.3 MB

In [35]:
credit2.drop(columns=['EDUCATION_graduate school','EDUCATION_high school','EDUCATION_other',
                     'EDUCATION_university','SEX_male','SEX_female','AGE','MARRIAGE'], inplace =True, axis =1)

In [36]:
cleancredit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 30 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   ID                                      30000 non-null  int64
 1   LIMIT_BAL                               30000 non-null  int64
 2   MARRIAGE                                30000 non-null  int64
 3   AGE                                     30000 non-null  int64
 4   PAY_0                                   30000 non-null  int64
 5   PAY_2                                   30000 non-null  int64
 6   PAY_3                                   30000 non-null  int64
 7   PAY_4                                   30000 non-null  int64
 8   PAY_5                                   30000 non-null  int64
 9   PAY_6                                   30000 non-null  int64
 10  BILL_AMT1                               30000 non-null  int64
 11  BILL_AMT2                               30000 non-null  int64
 12  BILL_AMT3                               30000 non-null  int64
 13  BILL_AMT4                               30000 non-null  int64
 14  BILL_AMT5                               30000 non-null  int64
 15  BILL_AMT6                               30000 non-null  int64
 16  PAY_AMT1                                30000 non-null  int64
 17  PAY_AMT2                                30000 non-null  int64
 18  PAY_AMT3                                30000 non-null  int64
 19  PAY_AMT4                                30000 non-null  int64
 20  PAY_AMT5                                30000 non-null  int64
 21  PAY_AMT6                                30000 non-null  int64
 22  SEX_female                              30000 non-null  uint8
 23  SEX_male                                30000 non-null  uint8
 24  EDUCATION_graduate school               30000 non-null  uint8
 25  EDUCATION_high school                   30000 non-null  uint8
 26  EDUCATION_other                         30000 non-null  uint8
 27  EDUCATION_university                    30000 non-null  uint8
 28  default payment next month_default      30000 non-null  uint8
 29  default payment next month_not default  30000 non-null  uint8
dtypes: int64(22), uint8(8)
memory usage: 5.3 MB

In [37]:
credit2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 22 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   ID                                      30000 non-null  int64
 1   LIMIT_BAL                               30000 non-null  int64
 2   PAY_0                                   30000 non-null  int64
 3   PAY_2                                   30000 non-null  int64
 4   PAY_3                                   30000 non-null  int64
 5   PAY_4                                   30000 non-null  int64
 6   PAY_5                                   30000 non-null  int64
 7   PAY_6                                   30000 non-null  int64
 8   BILL_AMT1                               30000 non-null  int64
 9   BILL_AMT2                               30000 non-null  int64
 10  BILL_AMT3                               30000 non-null  int64
 11  BILL_AMT4                               30000 non-null  int64
 12  BILL_AMT5                               30000 non-null  int64
 13  BILL_AMT6                               30000 non-null  int64
 14  PAY_AMT1                                30000 non-null  int64
 15  PAY_AMT2                                30000 non-null  int64
 16  PAY_AMT3                                30000 non-null  int64
 17  PAY_AMT4                                30000 non-null  int64
 18  PAY_AMT5                                30000 non-null  int64
 19  PAY_AMT6                                30000 non-null  int64
 20  default payment next month_default      30000 non-null  uint8
 21  default payment next month_not default  30000 non-null  uint8
dtypes: int64(20), uint8(2)
memory usage: 4.6 MB

In [38]:
corrMat = credit2.corr()
print(corrMat)

                                              ID  LIMIT_BAL     PAY_0  \
ID                                      1.000000   0.026179 -0.030575
LIMIT_BAL                               0.026179   1.000000 -0.271214
PAY_0                                  -0.030575  -0.271214  1.000000
PAY_2                                  -0.011215  -0.296382  0.672164
PAY_3                                  -0.018494  -0.286123  0.574245
PAY_4                                  -0.002735  -0.267460  0.538841
PAY_5                                  -0.022199  -0.249411  0.509426
PAY_6                                  -0.020270  -0.235195  0.474553
BILL_AMT1                               0.019389   0.285430  0.187068
BILL_AMT2                               0.017982   0.278314  0.189859
BILL_AMT3                               0.024354   0.283236  0.179785
BILL_AMT4                               0.040351   0.293988  0.179125
BILL_AMT5                               0.016705   0.295562  0.180635
BILL_AMT6                               0.016730   0.290389  0.176980
PAY_AMT1                                0.009742   0.195236 -0.079269
PAY_AMT2                                0.008406   0.178408 -0.070101
PAY_AMT3                                0.039151   0.210167 -0.070561
PAY_AMT4                                0.007793   0.203242 -0.064005
PAY_AMT5                                0.000652   0.217202 -0.058190
PAY_AMT6                                0.003000   0.219595 -0.058673
default payment next month_default     -0.013952  -0.153520  0.324794
default payment next month_not default  0.013952   0.153520 -0.324794

                                           PAY_2     PAY_3     PAY_4  \
ID                                     -0.011215 -0.018494 -0.002735
LIMIT_BAL                              -0.296382 -0.286123 -0.267460
PAY_0                                   0.672164  0.574245  0.538841
PAY_2                                   1.000000  0.766552  0.662067
PAY_3                                   0.766552  1.000000  0.777359
PAY_4                                   0.662067  0.777359  1.000000
PAY_5                                   0.622780  0.686775  0.819835
PAY_6                                   0.575501  0.632684  0.716449
BILL_AMT1                               0.234887  0.208473  0.202812
BILL_AMT2                               0.235257  0.237295  0.225816
BILL_AMT3                               0.224146  0.227494  0.244983
BILL_AMT4                               0.222237  0.227202  0.245917
BILL_AMT5                               0.221348  0.225145  0.242902
BILL_AMT6                               0.219403  0.222327  0.239154
PAY_AMT1                               -0.080701  0.001295 -0.009362
PAY_AMT2                               -0.058990 -0.066793 -0.001944
PAY_AMT3                               -0.055901 -0.053311 -0.069235
PAY_AMT4                               -0.046858 -0.046067 -0.043461
PAY_AMT5                               -0.037093 -0.035863 -0.033590
PAY_AMT6                               -0.036500 -0.035861 -0.026565
default payment next month_default      0.263551  0.235253  0.216614
default payment next month_not default -0.263551 -0.235253 -0.216614

                                           PAY_5     PAY_6  BILL_AMT1  \
ID                                     -0.022199 -0.020270   0.019389
LIMIT_BAL                              -0.249411 -0.235195   0.285430
PAY_0                                   0.509426  0.474553   0.187068
PAY_2                                   0.622780  0.575501   0.234887
PAY_3                                   0.686775  0.632684   0.208473
PAY_4                                   0.819835  0.716449   0.202812
PAY_5                                   1.000000  0.816900   0.206684
PAY_6                                   0.816900  1.000000   0.207373
BILL_AMT1                               0.206684  0.207373   1.000000
BILL_AMT2                               0.226913  0.226924   0.951484
BILL_AMT3                               0.243335  0.241181   0.892279
BILL_AMT4                               0.271915  0.266356   0.860272
BILL_AMT5                               0.269783  0.290894   0.829779
BILL_AMT6                               0.262509  0.285091   0.802650
PAY_AMT1                               -0.006089 -0.001496   0.140277
PAY_AMT2                               -0.003191 -0.005223   0.099355
PAY_AMT3                                0.009062  0.005834   0.156887
PAY_AMT4                               -0.058299  0.019018   0.158303
PAY_AMT5                               -0.033337 -0.046434   0.167026
PAY_AMT6                               -0.023027 -0.025299   0.179341
default payment next month_default      0.204149  0.186866  -0.019644
default payment next month_not default -0.204149 -0.186866   0.019644

                                        BILL_AMT2  ...  BILL_AMT5  BILL_AMT6  \
ID                                       0.017982  ...   0.016705   0.016730
LIMIT_BAL                                0.278314  ...   0.295562   0.290389
PAY_0                                    0.189859  ...   0.180635   0.176980
PAY_2                                    0.235257  ...   0.221348   0.219403
PAY_3                                    0.237295  ...   0.225145   0.222327
PAY_4                                    0.225816  ...   0.242902   0.239154
PAY_5                                    0.226913  ...   0.269783   0.262509
PAY_6                                    0.226924  ...   0.290894   0.285091
BILL_AMT1                                0.951484  ...   0.829779   0.802650
BILL_AMT2                                1.000000  ...   0.859778   0.831594
BILL_AMT3                                0.928326  ...   0.883910   0.853320
BILL_AMT4                                0.892482  ...   0.940134   0.900941
BILL_AMT5                                0.859778  ...   1.000000   0.946197
BILL_AMT6                                0.831594  ...   0.946197   1.000000
PAY_AMT1                                 0.280365  ...   0.217031   0.199965
PAY_AMT2                                 0.100851  ...   0.181246   0.172663
PAY_AMT3                                 0.150718  ...   0.252305   0.233770
PAY_AMT4                                 0.147398  ...   0.293118   0.250237
PAY_AMT5                                 0.157957  ...   0.141574   0.307729
PAY_AMT6                                 0.174256  ...   0.164184   0.115494
default payment next month_default      -0.014193  ...  -0.006760  -0.005372
default payment next month_not default   0.014193  ...   0.006760   0.005372

                                        PAY_AMT1  PAY_AMT2  PAY_AMT3  \
ID                                      0.009742  0.008406  0.039151
LIMIT_BAL                               0.195236  0.178408  0.210167
PAY_0                                  -0.079269 -0.070101 -0.070561
PAY_2                                  -0.080701 -0.058990 -0.055901
PAY_3                                   0.001295 -0.066793 -0.053311
PAY_4                                  -0.009362 -0.001944 -0.069235
PAY_5                                  -0.006089 -0.003191  0.009062
PAY_6                                  -0.001496 -0.005223  0.005834
BILL_AMT1                               0.140277  0.099355  0.156887
BILL_AMT2                               0.280365  0.100851  0.150718
BILL_AMT3                               0.244335  0.316936  0.130011
BILL_AMT4                               0.233012  0.207564  0.300023
BILL_AMT5                               0.217031  0.181246  0.252305
BILL_AMT6                               0.199965  0.172663  0.233770
PAY_AMT1                                1.000000  0.285576  0.252191
PAY_AMT2                                0.285576  1.000000  0.244770
PAY_AMT3                                0.252191  0.244770  1.000000
PAY_AMT4                                0.199558  0.180107  0.216325
PAY_AMT5                                0.148459  0.180908  0.159214
PAY_AMT6                                0.185735  0.157634  0.162740
default payment next month_default     -0.072929 -0.058579 -0.056250
default payment next month_not default  0.072929  0.058579  0.056250

                                        PAY_AMT4  PAY_AMT5  PAY_AMT6  \
ID                                      0.007793  0.000652  0.003000
LIMIT_BAL                               0.203242  0.217202  0.219595
PAY_0                                  -0.064005 -0.058190 -0.058673
PAY_2                                  -0.046858 -0.037093 -0.036500
PAY_3                                  -0.046067 -0.035863 -0.035861
PAY_4                                  -0.043461 -0.033590 -0.026565
PAY_5                                  -0.058299 -0.033337 -0.023027
PAY_6                                   0.019018 -0.046434 -0.025299
BILL_AMT1                               0.158303  0.167026  0.179341
BILL_AMT2                               0.147398  0.157957  0.174256
BILL_AMT3                               0.143405  0.179712  0.182326
BILL_AMT4                               0.130191  0.160433  0.177637
BILL_AMT5                               0.293118  0.141574  0.164184
BILL_AMT6                               0.250237  0.307729  0.115494
PAY_AMT1                                0.199558  0.148459  0.185735
PAY_AMT2                                0.180107  0.180908  0.157634
PAY_AMT3                                0.216325  0.159214  0.162740
PAY_AMT4                                1.000000  0.151830  0.157834
PAY_AMT5                                0.151830  1.000000  0.154896
PAY_AMT6                                0.157834  0.154896  1.000000
default payment next month_default     -0.056827 -0.055124 -0.053183
default payment next month_not default  0.056827  0.055124  0.053183

                                        default payment next month_default  \
ID                                                               -0.013952
LIMIT_BAL                                                        -0.153520
PAY_0                                                             0.324794
PAY_2                                                             0.263551
PAY_3                                                             0.235253
PAY_4                                                             0.216614
PAY_5                                                             0.204149
PAY_6                                                             0.186866
BILL_AMT1                                                        -0.019644
BILL_AMT2                                                        -0.014193
BILL_AMT3                                                        -0.014076
BILL_AMT4                                                        -0.010156
BILL_AMT5                                                        -0.006760
BILL_AMT6                                                        -0.005372
PAY_AMT1                                                         -0.072929
PAY_AMT2                                                         -0.058579
PAY_AMT3                                                         -0.056250
PAY_AMT4                                                         -0.056827
PAY_AMT5                                                         -0.055124
PAY_AMT6                                                         -0.053183
default payment next month_default                                1.000000
default payment next month_not default                           -1.000000

                                        default payment next month_not default
ID                                                                    0.013952
LIMIT_BAL                                                             0.153520
PAY_0                                                                -0.324794
PAY_2                                                                -0.263551
PAY_3                                                                -0.235253
PAY_4                                                                -0.216614
PAY_5                                                                -0.204149
PAY_6                                                                -0.186866
BILL_AMT1                                                             0.019644
BILL_AMT2                                                             0.014193
BILL_AMT3                                                             0.014076
BILL_AMT4                                                             0.010156
BILL_AMT5                                                             0.006760
BILL_AMT6                                                             0.005372
PAY_AMT1                                                              0.072929
PAY_AMT2                                                              0.058579
PAY_AMT3                                                              0.056250
PAY_AMT4                                                              0.056827
PAY_AMT5                                                              0.055124
PAY_AMT6                                                              0.053183
default payment next month_default                                   -1.000000
default payment next month_not default                                1.000000

[22 rows x 22 columns]

In [39]:
credit2.head()

,ID,LIMIT_BAL,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,...,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month_default,default payment next month_not default
0,1,20000,2,2,-1,-1,-2,-2,3913,3102,...,0,0,0,689,0,0,0,0,1,0
1,2,120000,-1,2,0,0,0,2,2682,1725,...,3455,3261,0,1000,1000,1000,0,2000,1,0
2,3,90000,0,0,0,0,0,0,29239,14027,...,14948,15549,1518,1500,1000,1000,1000,5000,0,1
3,4,50000,0,0,0,0,0,0,46990,48233,...,28959,29547,2000,2019,1200,1100,1069,1000,0,1
4,5,50000,-1,0,-1,0,0,0,8617,5670,...,19146,19131,2000,36681,10000,9000,689,679,0,1

In [40]:
plt.hist(credit2['PAY_0'])
plt.show()

C:\Users\alden\AppData\Local\Temp\ipykernel_21496\989709769.py:2: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

In [41]:
A = credit2['PAY_0']
plt.boxplot(A,0,'gD')
plt.show()

C:\Users\alden\AppData\Local\Temp\ipykernel_21496\1911838248.py:3: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

In [42]:
A = credit2['PAY_AMT1']
plt.boxplot(A,0,'gD')
plt.show()

C:\Users\alden\AppData\Local\Temp\ipykernel_21496\2686984835.py:3: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

In [43]:
plt.plot(credit2['PAY_0'])
plt.show()

C:\Users\alden\AppData\Local\Temp\ipykernel_21496\1479470176.py:2: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

In [44]:
x3 = cleancredit['LIMIT_BAL']
y3 = cleancredit['default payment next month_default']
plt.scatter(x3,y3)
plt.show()

C:\Users\alden\AppData\Local\Temp\ipykernel_21496\1061449895.py:4: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

In [45]:
#switch x and y
x4 = cleancredit['LIMIT_BAL']
y4 = cleancredit['default payment next month_default']
plt.scatter(y4,x4)
plt.show()

C:\Users\alden\AppData\Local\Temp\ipykernel_21496\2799164355.py:5: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

In [46]:
B = cleancredit['LIMIT_BAL']
plt.boxplot(B,0,'gD')
plt.show()

C:\Users\alden\AppData\Local\Temp\ipykernel_21496\1163564633.py:3: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

In [79]:
x5 = cleancredit['PAY_0']
y5 = cleancredit['default payment next month_default']
plt.scatter(x5,y5)
plt.show()

In [71]:
#payment amounts closer to 40k (maybe 30k?) and higher did not default? 
x6 = cleancredit['PAY_AMT1']
y6 = cleancredit['default payment next month_default']
plt.scatter(x6,y6)
plt.show()

In [74]:
#higher payments amounts still did not  default
x61 = cleancredit['PAY_AMT2']
y61 = cleancredit['default payment next month_default']
plt.scatter(x61,y61)
plt.show()

In [77]:
#some defaults at the higher amounts but not as many as the lower amounts
x62 = cleancredit['PAY_AMT3']
y62 = cleancredit['default payment next month_default']
plt.scatter(x62,y62)
plt.show()

In [70]:
#extreme low and high bill amounts did not default?
x7 = cleancredit['BILL_AMT1']
y7 = cleancredit['default payment next month_default']
plt.scatter(x7,y7)
plt.show()

In [82]:
plt.hist(credit2['PAY_0'])
plt.hist(credit2['PAY_2'])
plt.hist(credit2['PAY_3'])
plt.hist(credit2['PAY_4'])
plt.hist(credit2['PAY_5'])
plt.hist(credit2['PAY_6'])
plt.show()